In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sndata
from sndata.sdss import Sako18Spec
sako = Sako18Spec()

In [2]:
sako.download_module_data()

In [101]:
data = pd.read_csv('~/Desktop/Research/SN-Spectral-Evolution/results/final_sdss.csv')
data.head()

,obj_id,time,feat_name,feat_start,feat_end,vel,vel_err,vel_samperr,pew,pew_err,pew_samperr,area,area_err,area_samperr,spec_flag,feat_flag,notes
0,739,2453622.5,pW1,3671.822467,3919.173035,11423.931678,0.0,133.032825,58.548298,0.0,3.181248,3.360168e-15,0.0,2.452360e-16,0,0,NaN
1,739,2453622.5,pW3,3919.173035,4613.067992,NaN,0.0,NaN,142.670444,0.0,11.190827,1.231454e-14,0.0,1.070385e-15,0,0,NaN
2,739,2453622.5,pW4,4613.067992,5302.585063,14126.441955,0.0,215.218064,159.769980,0.0,3.780944,1.593680e-14,0.0,5.054982e-16,0,0,NaN
3,739,2453622.5,pW5,5302.585063,5554.313517,4696.353615,0.0,751.312627,9.621969,0.0,2.929338,8.345654e-16,0.0,2.614292e-16,0,0,NaN
4,739,2453622.5,pW6,5554.313517,5847.631891,14164.882385,0.0,217.532693,26.798596,0.0,2.899821,2.198474e-15,0.0,2.623130e-16,0,0,NaN

In [104]:
data = data.rename({'obj_id':'CID'}, axis='columns')
data['CID']=data['CID'].astype(str)
data = data.set_index('CID')
#print(type(data['CID'][0]))

In [105]:
data

,time,feat_name,feat_start,feat_end,vel,vel_err,vel_samperr,pew,pew_err,pew_samperr,area,area_err,area_samperr,spec_flag,feat_flag,notes
CID,,,,,,,,,,,,,,,,
739,2453622.5,pW1,3671.822467,3919.173035,11423.931678,0.0,133.032825,58.548298,0.0,3.181248,3.360168e-15,0.0,2.452360e-16,0,0,NaN
739,2453622.5,pW3,3919.173035,4613.067992,NaN,0.0,NaN,142.670444,0.0,11.190827,1.231454e-14,0.0,1.070385e-15,0,0,NaN
739,2453622.5,pW4,4613.067992,5302.585063,14126.441955,0.0,215.218064,159.769980,0.0,3.780944,1.593680e-14,0.0,5.054982e-16,0,0,NaN
739,2453622.5,pW5,5302.585063,5554.313517,4696.353615,0.0,751.312627,9.621969,0.0,2.929338,8.345654e-16,0.0,2.614292e-16,0,0,NaN
739,2453622.5,pW6,5554.313517,5847.631891,14164.882385,0.0,217.532693,26.798596,0.0,2.899821,2.198474e-15,0.0,2.623130e-16,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21502,2454421.5,pW2,3948.984722,4083.297029,8905.600738,0.0,290.644907,14.546128,0.0,2.754986,4.398695e-15,0.0,9.165091e-16,0,0,NaN
21502,2454421.5,pW3,4088.333740,4528.206545,11167.862113,0.0,191.094725,65.730823,0.0,3.005437,1.873401e-14,0.0,9.758712e-16,0,0,NaN
21502,2454421.5,pW5,5211.520405,5595.989383,8912.267027,0.0,413.989341,37.429057,0.0,2.517586,7.182774e-15,0.0,5.215374e-16,0,0,NaN
21502,2454421.5,pW6,5684.971286,5884.760842,9571.296676,0.0,361.639326,7.261684,0.0,0.924905,1.331228e-15,0.0,1.756630e-16,0,0,NaN
21502,2454421.5,pW7,5930.091246,6309.523512,9709.251461,0.0,151.324794,41.066316,0.0,4.434548,7.429295e-15,0.0,9.043274e-16,0,0,NaN

In [113]:
master = sako.load_table('master')
master = master.to_pandas('CID')

In [4]:
sako.load_table(2)

<Table length=10258>
 CID      RA        DEC    ... zspecHelio zspecerrHelio      objIDHost
str21  float64    float64  ...  float64      float64           int64
----- ---------- --------- ... ---------- ------------- -------------------
  679 327.434978  0.657569 ...   0.124957       1.7e-05 1237656238472888902
  680 327.555405  0.842584 ...         --            -- 1237678617403654778
  682  331.23947  0.845158 ...   0.048551       2.2e-05 1237678617405227407
  685 337.823273 -0.882037 ...         --            -- 1237656906345349717
  688 343.171604 -0.962902 ...   0.067866         1e-05 1237656906347708594
  689 345.314592 -0.866253 ...         --            -- 1237656906348626518
  691 329.729408 -0.498538 ...   0.130903       2.1e-05 1237663542608986381
  692 351.071097 -0.945665 ...   0.197275         3e-05 1237656906351182046
  694 330.154633 -0.623472 ...   0.127493       1.7e-05 1237663542609183155
  695 352.963374 -0.963772 ...   0.058267         9e-06 1237656906351968456
  ...        ...       ... ...        ...           ...                 ...
22182 320.710709  0.421637 ...      0.072         0.005                  --
22247 336.002298  0.758643 ...         --            -- 1237663544222352338
22248  336.29071  0.624113 ...   0.439078         7e-05 1237663479796924684
22253 342.956482  1.106149 ...         --            --                  --
22255  30.695993 -0.986579 ...    0.12116       2.9e-05 1237657069549977708
22256  46.432743 -0.986572 ...   0.000105       1.9e-05 1237666299480178771
22257  49.655952 -0.968649 ...         --            --                  --
22258 331.259428 -0.503611 ...         --            -- 1237663542609642556
22282   26.21842  1.229893 ...   0.059162       2.1e-05 1237678617429278863
22284 333.518412 -0.213183 ...      0.133         0.005 1237663478722003391

In [108]:
table9 = sako.load_table(9)
table9 = table9.to_pandas()
table9['CID'] = table9['CID'].astype(str)
table9 = table9.set_index('CID')
table9

        SID Telescope   Files        Date Type    zSN    zGal
CID
701    2795       APO     Gal  2008-09-02  Gal    NaN  0.2060
703    1963       NTT     Gal  2007-09-21  Gal    NaN  0.2987
722      58       APO  SN,Gal  2005-09-09   Ia  0.087  0.0859
739      59       APO  SN,Gal  2005-09-09   Ia  0.105  0.1071
744      60       APO  SN,Gal  2005-09-08   Ia  0.123  0.1278
...     ...       ...     ...         ...  ...    ...     ...
22073  2673       HET      SN  2007-12-09  IIn  0.235  0.2311
22075  2661       MDM      SN  2007-11-25   Ia  0.117  0.1278
22182  2690       NTT      SN  2007-12-10   Ia  0.076     NaN
22182  2699       WHT      SN  2007-12-03   Ia  0.072     NaN
22284  2735       NTT      SN  2007-12-08   Ia  0.136     NaN

[1359 rows x 7 columns]

In [99]:
data.index

Index(['739', '739', '739', '739', '739', '739', '762', '762', '762', '762',
       ...
       '21033', '21034', '21034', '21034', '21502', '21502', '21502', '21502',
       '21502', '21502'],
      dtype='object', name='CID', length=1195)

In [115]:
combined = data.join(table9, sort=True)
combined

,time,feat_name,feat_start,feat_end,vel,vel_err,vel_samperr,pew,pew_err,pew_samperr,...,spec_flag,feat_flag,notes,SID,Telescope,Files,Date,Type,zSN,zGal
CID,,,,,,,,,,,,,,,,,,,,,
1032,2453638.5,pW1,3690.573948,4005.935822,8103.870145,0.0,7.249797,59.170465,0.0,6.747852,...,0,0,NaN,149,APO,"SN,Gal",2005-09-25,Ia,0.133,0.1296
1032,2453638.5,pW3,4005.935822,4619.497018,12781.090085,0.0,531.602753,116.981652,0.0,6.449972,...,0,0,NaN,149,APO,"SN,Gal",2005-09-25,Ia,0.133,0.1296
1032,2453638.5,pW4,4617.351699,5544.129450,8915.446017,0.0,313.703043,145.285146,0.0,5.281360,...,0,0,NaN,149,APO,"SN,Gal",2005-09-25,Ia,0.133,0.1296
1032,2453638.5,pW6,5550.565407,5835.892816,12930.221014,0.0,654.625862,22.600921,0.0,2.896888,...,0,0,NaN,149,APO,"SN,Gal",2005-09-25,Ia,0.133,0.1296
1032,2453638.5,pW7,5835.892816,6569.591869,5159.105315,0.0,1844.056592,60.245386,0.0,13.598562,...,0,0,NaN,149,APO,"SN,Gal",2005-09-25,Ia,0.133,0.1296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8719,2453683.5,pW3,4084.014864,4480.981091,14043.481108,0.0,229.733128,70.137655,0.0,5.754259,...,0,0,NaN,1655,NTT,Gal,2006-12-14,Gal,NaN,0.1170
9032,2453700.5,pW1,3672.571991,3915.577041,11266.389121,0.0,241.125364,90.446540,0.0,6.166899,...,0,0,NaN,545,Subaru,"SN,Gal",2005-11-26,Ia,0.253,0.2540
9032,2453700.5,pW3,3915.577041,4608.194959,NaN,0.0,NaN,173.000177,0.0,8.260405,...,0,0,NaN,545,Subaru,"SN,Gal",2005-11-26,Ia,0.253,0.2540
9032,2453700.5,pW4,4603.912932,5217.313344,15335.668515,0.0,479.469284,199.779243,0.0,11.639871,...,0,0,NaN,545,Subaru,"SN,Gal",2005-11-26,Ia,0.253,0.2540
9032,2453700.5,pW7,5881.027577,6377.742745,9738.040131,0.0,62.898434,157.043918,0.0,9.344801,...,0,0,NaN,545,Subaru,"SN,Gal",2005-11-26,Ia,0.253,0.2540

combine our data tables w sako at time of peak brightness (PeakMJDSALT2flat), subtract two numbers and that converts time to phase
^emily did that
interpolate phases
once we make that, join other info from sako to make comprehensive data table using inner join


https://gist.github.com/djperrefort/40ced385aee8c476c6a58859515b826d
^code to take sako master table and break down into smaller tables

In [7]:
def intersection(lst1, lst2): 
    '''
    return intersection of two lists
    
    args
    lst1 - first list to be compared
    lst2 - second list to be compared
    
    returns
    (set(lst1) & set(lst2)) - intersection of both lists'''
    return (set(lst1) & set(lst2))

In [25]:
redshift = table9['zSN']
ids = []
ids_ours = []
for i in list(table9['CID']):
    i = float(i)
    ids.append(i)
for j in list(data['obj_id']):
    j = float(j)
    ids_ours.append(j)
intersec = intersection(ids, ids_ours)
print(intersection(ids, ids_ours))

{19968.0, 19969.0, 5635.0, 3080.0, 1032.0, 3592.0, 15369.0, 21006.0, 3087.0, 8719.0, 21033.0, 21034.0, 6699.0, 1580.0, 12843.0, 6192.0, 6196.0, 10805.0, 12860.0, 20039.0, 2635.0, 7243.0, 19027.0, 5717.0, 1112.0, 16473.0, 12898.0, 16482.0, 5736.0, 5737.0, 6249.0, 18030.0, 2165.0, 6773.0, 5751.0, 2689.0, 12930.0, 1166.0, 20111.0, 15508.0, 16021.0, 12950.0, 1688.0, 6304.0, 16032.0, 7847.0, 6315.0, 12977.0, 19128.0, 11452.0, 10434.0, 7876.0, 14024.0, 19658.0, 10449.0, 19155.0, 5844.0, 1241.0, 18650.0, 739.0, 16099.0, 1253.0, 2789.0, 16100.0, 16618.0, 13038.0, 13044.0, 3317.0, 16116.0, 762.0, 1794.0, 2308.0, 774.0, 6406.0, 18697.0, 6924.0, 5391.0, 13072.0, 17168.0, 5395.0, 17171.0, 6933.0, 6422.0, 6936.0, 2330.0, 15132.0, 17186.0, 13099.0, 3377.0, 7473.0, 18740.0, 10550.0, 5944.0, 17208.0, 3901.0, 15171.0, 2372.0, 5957.0, 9032.0, 13135.0, 17745.0, 16215.0, 7512.0, 1371.0, 2916.0, 5994.0, 8046.0, 18804.0, 2422.0, 18807.0, 17784.0, 18809.0, 17274.0, 3451.0, 3452.0, 20350.0, 16259.0, 2440.0, 17801.0, 20364.0, 19341.0, 17811.0, 18323.0, 16280.0, 16281.0, 19353.0, 20889.0, 5533.0, 13727.0, 16287.0, 17825.0, 18855.0, 6057.0, 5549.0, 5550.0, 2992.0, 14261.0, 19381.0, 16314.0, 19899.0, 13757.0, 14846.0, 14279.0, 18375.0, 16333.0, 17875.0, 17366.0, 8151.0, 17880.0, 16350.0, 17886.0, 14816.0, 2017.0, 16352.0, 13796.0, 19940.0, 7143.0, 7147.0, 2031.0, 18415.0, 19953.0, 6649.0, 21502.0}

In [75]:
str_intersec = []
for i in intersec:
    str_intersec.append(str(i))
new_sdss = table9[table9['CID'].isin(str_intersec)]
new_sdss

Empty DataFrame
Columns: [CID, SID, Telescope, Files, Date, Type, zSN, zGal]
Index: []

In [49]:
int_intersec = []
for i in intersec:
    int_intersec.append(int(i))
new_ours = data[data['obj_id'].isin(int_intersec)]
new_ours

,obj_id,time,feat_name,feat_start,feat_end,vel,vel_err,vel_samperr,pew,pew_err,pew_samperr,area,area_err,area_samperr,spec_flag,feat_flag,notes
0,739,2453622.5,pW1,3671.822467,3919.173035,11423.931678,0.0,133.032825,58.548298,0.0,3.181248,3.360168e-15,0.0,2.452360e-16,0,0,NaN
1,739,2453622.5,pW3,3919.173035,4613.067992,NaN,0.0,NaN,142.670444,0.0,11.190827,1.231454e-14,0.0,1.070385e-15,0,0,NaN
2,739,2453622.5,pW4,4613.067992,5302.585063,14126.441955,0.0,215.218064,159.769980,0.0,3.780944,1.593680e-14,0.0,5.054982e-16,0,0,NaN
3,739,2453622.5,pW5,5302.585063,5554.313517,4696.353615,0.0,751.312627,9.621969,0.0,2.929338,8.345654e-16,0.0,2.614292e-16,0,0,NaN
4,739,2453622.5,pW6,5554.313517,5847.631891,14164.882385,0.0,217.532693,26.798596,0.0,2.899821,2.198474e-15,0.0,2.623130e-16,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190,21502,2454421.5,pW2,3948.984722,4083.297029,8905.600738,0.0,290.644907,14.546128,0.0,2.754986,4.398695e-15,0.0,9.165091e-16,0,0,NaN
1191,21502,2454421.5,pW3,4088.333740,4528.206545,11167.862113,0.0,191.094725,65.730823,0.0,3.005437,1.873401e-14,0.0,9.758712e-16,0,0,NaN
1192,21502,2454421.5,pW5,5211.520405,5595.989383,8912.267027,0.0,413.989341,37.429057,0.0,2.517586,7.182774e-15,0.0,5.215374e-16,0,0,NaN
1193,21502,2454421.5,pW6,5684.971286,5884.760842,9571.296676,0.0,361.639326,7.261684,0.0,0.924905,1.331228e-15,0.0,1.756630e-16,0,0,NaN
1194,21502,2454421.5,pW7,5930.091246,6309.523512,9709.251461,0.0,151.324794,41.066316,0.0,4.434548,7.429295e-15,0.0,9.043274e-16,0,0,NaN

In [ ]:
joined = np.join